@import url(../css/layout.css);

body{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}
section{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top:50%;
    left:10%;
    -ms-transform: translateY(-50%);
    transform: translateY(30%);
    align-items: center;
    
}

.main-column{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr;  same shit*/
    gap: 20px;
    color: black;
    text-decoration: uppercase;
    font-weight: bold;
    width: 80%;

}
.title{
    color:red;
    text-align: center;
    font-size: 20px;
}
.text{
    color: grey;
    font-weight: 100;
}
.img{
    width: 200px;
    height: 200px;
}
/* .img p{
    margin-left: 0;
    margin-top: 0;
    position: absolute; nesigavo :/
} */
.column > .img-bg{
    background-color: #70C0C9;
}
.column > .img-bg1{
    background-color: #4074BD;
}
.column > .img-bg2{
    background-color: #E05E46;
}
.column > .img-bg3{
    background-color: #919191;
}
.img-bg > p{
    color: #70C0C9;
    border: 3px solid#70C0C9;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    margin-left: -1.5%;
    margin-top: -1.5%;
    position: absolute;
}
.img-bg1 > p{
    color: #4074BD;
    border: 3px solid #4074BD;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    margin-left: -1.5%;
    margin-top: -1.5%;
    position: absolute;
}
.img-bg2 > p{
    color: #E05E46;
    border: 3px solid #E05E46;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    margin-left: -1.5%;
    margin-top: -1.5%;
    position: absolute;
}
.img-bg3 > p{
    color: #919191;
    border: 3px solid #919191;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    margin-left: -1.5%;
    margin-top: -1.5%;
    position: absolute;
}


@media(max-width: 700px){
    .main-column{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 460px){
    .main-column{
        display: grid;
        grid-template-columns: 1fr;

    }
}
